---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import {
  getLangFromUrl,
  getTranslations,
  slugSelector,
} from "@/lib/utils/languageParser";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import type { ContentEntryMap } from "astro:content";
import { FaRegFolder, FaRegUserCircle } from "react-icons/fa";
import ImageMod from "./ImageMod.astro";

const { summary_length }: { summary_length: number; blog_folder: string } = config.settings;
const { data, slugDefault } = Astro.props;
const { title, image, date, masters, master, tags } = data.data;

const lang = getLangFromUrl(Astro.url);
const { read_more } = await getTranslations(lang as keyof ContentEntryMap);

const slugParts = data.slug.split("/");
slugParts[0] = slugDefault;
const modifiedSlug = slugParts.join("/");
data.slug = modifiedSlug;
---

<div class="bg-body dark:bg-darkmode-body">
  {
    image && (
      <ImageMod
        class="mb-6 w-full rounded"
        src={image}
        alt={title}
        width={445}
        height={230}
        format="webp"
      />
    )
  }
  <h4 class="mb-3">
    <a href={slugSelector(`/${data.slug}`, lang)}>
      {title}
    </a>
  </h4>
  <ul class="mb-4">
    <li class="mr-4 inline-block">
      {
        masters?.length > 1
          ? masters?.map((master: string, index: number) => (
              <a href={slugSelector(`/masters/${slugify[Master]}`, lang)}>
                <FaRegUserCircle className={"mr-2 -mt-1 inline-block"} />
                {humanize[Master]}
              </a>
            ))
          : masters?.length === 1
            ? <a href={slugSelector(`/masters/${slugify(masters[0])}`, lang)}>
                <FaRegUserCircle className={"mr-2 -mt-1 inline-block"} />
                {humanize(masters[0])}
              </a>
            : master
              ? <a href={slugSelector(`/masters/${slugify[Master]}`, lang)}>
                  <FaRegUserCircle className={"mr-2 -mt-1 inline-block"} />
                  {humanize[Master]}
                </a>
              : ''
      }
    </li>
    <a
      class="btn btn-outline-primary btn-sm inline-block float-right"
      href={slugSelector(`/${data.slug}`, lang)}
    >
      {read_more}
    </a>
  </ul>
  {date && dateFormat(date)}
</div>
