---
import "../../styles/additional/PeriodicTable.scss"

const { sect, mastersDb } = Astro.props;
---


<h1>Masters</h1>
<h5>...</h5>
<div class="periodic-table">
  {
    mastersDb?.filter((master, index) => index === 0 )?.map(master =>  <a class="periodic-element social-media" data-description={`${master?.name_en} [${master?.name_vi}, ${master?.name_zh}]`} href={`/masters/${master?.name_en?.toLowerCase()?.replace(/ /g, '-')}`} target="_blank">
      <div class="periodic-element-inner">
          <div class="title">
            {master?.name_en?.split(' ')[0]?.charAt(0) + master?.name_en?.split(' ')[1]?.charAt(0)}
          </div>
          <div class="description">{master?.id}</div>
        </div>
      </a>)
  }
  {
    mastersDb?.filter((master, index) => index !== 0 && master.hasContent && master.isEminent)?.map(master =>
      <a class="periodic-element fun-stuff" data-description={`${master?.name_en} [${master?.name_vi}, ${master?.name_zh}]`} href={`/masters/${master?.name_en?.toLowerCase()?.replace(/ /g, '-')}`} target="_blank">
        <div class="periodic-element-inner">
          <div class="title">
            {master?.name_en?.split(' ')[0]?.charAt(0) + master?.name_en?.split(' ')[1]?.charAt(0)}
          </div>
          <div class="description">{master?.id}</div>
        </div>
      </a>)
  }
  {
    mastersDb?.filter((master, index) => index !== 0 && master.hasContent && !master.isEminent )?.map(master =>
      <a class="periodic-element just-trying" data-description={`${master?.name_en} [${master?.name_vi}, ${master?.name_zh}]`} href={`/masters/${master?.name_en?.toLowerCase()?.replace(/ /g, '-')}`} target="_blank">
        <div class="periodic-element-inner">
          <div class="title">
            {master?.name_en?.split(' ')[0]?.charAt(0) + master?.name_en?.split(' ')[1]?.charAt(0)}
          </div>
          <div class="description">{master?.id}</div>
        </div>
      </a>)
  }
  {
    mastersDb?.filter((master, index) => index !== 0 && !master.hasContent )?.map(master =>
      <div class="periodic-element intense-work" data-description={`${master?.name_en} [${master?.name_vi}, ${master?.name_zh}]`}>
        <div class="periodic-element-inner">
          <div class="title">
            {master?.name_en?.split(' ')[0]?.charAt(0) + master?.name_en?.split(' ')[1]?.charAt(0)}
          </div>
          <div class="description">{master?.id}</div>
        </div>
      </div>)
  }
</div>

<div class="legend-table">
  <div class="legend-table__wrapper">
    <span class="legend-table__marker social-media"></span>
    <span class="legend-table__text">Founder(s)</span>
    <span class="legend-table__marker just-trying"></span>
    <span class="legend-table__text">Has article(s)</span>
    <span class="legend-table__marker fun-stuff"></span>
    <span class="legend-table__text">Featured</span>
    <span class="legend-table__marker intense-work"></span>
    <span class="legend-table__text">Others</span>
    <br/>
    <div class="legend-table__direction"><span>&#8594; &ensp; Across the table: Importance</span></div>
    <div class="legend-table__direction"><span>&#8595; &ensp; Down the table: Time Spent</span></div>
  </div>
</div>
