---
import { episodes } from "./episodes.json";
---
<section class="border-y border-zinc-800">
   <div class="py-12 max-w-screen-xl mx-auto px-8 md:px-12">
   <div class="divide-y divide-zinc-900 mx-auto">
    { episodes.map((template) => (
      <>
      <article class="py-10 sm:py-12 grid grid-cols-1 md:grid-cols-4 gap-12">
         <div>
            <img class="aspect-square object-cover object-center grayscale" src={template.image} alt={template.title} />
         </div>
         <div class="flex flex-col items-start md:col-span-3 justify-between">
            <time datetime="2022-02-24T00:00:00.000Z" class="order-first font-mono text-sm leading-7 text-zinc-500"> {template.date} </time>
            <div>
               <p class="mt-8 text-xl lg:text-6xl leading-7 text-white font-serif uppercase"> {template.title} </p>
               <h2 class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl"> {template.description} </h2>
               <div x-data="{ open: false }" class="w-full mt-12">
                  <span x-on:click="open = true">
                  <button type="button" class="flex justify-between items-center gap-x-3 text-sm font-light leading-6 text-white hover:text-zinc-500 duration-300 active:text-zinc-300">
                     <span><svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 32 32"><path fill="currentColor" d="M7 28a1 1 0 0 1-1-1V5a1 1 0 0 1 1.482-.876l20 11a1 1 0 0 1 0 1.752l-20 11A1 1 0 0 1 7 28ZM8 6.69v18.62L24.925 16Z"/></svg></span>
                      Listen episode
                       </button>
                  </span>
                  <div x-show="open" x-on:keydown.escape.prevent.stop="open = false" role="dialog" aria-modal="true" x-id="['modal-title']" :aria-labelledby="$id('modal-title')" class="fixed inset-0 z-10 overflow-y-auto" aria-labelledby="modal-title-1" style="display: none;">
                     <div x-show="open" x-transition.opacity="" class="fixed inset-0 bg-black bg-opacity-50" style="display: none;"></div>
                     <div x-show="open" x-transition="" x-on:click="open = false" class="relative flex min-h-screen items-center justify-center" style="display: none;">
                        <div x-on:click.stop="" x-trap.noscroll.inert="open" >
                           <button x-on:click="open = false" class="absolute top-8 right-5 border border-zinc-800 p-1 hover:text-accent-600 duration-200 focus:text-white text-white cursor-pointer">
                              <svg xmlns="http://www.w3.org/2000/svg" class="size-6" viewBox="0 0 32 32">
                                 <path fill="currentColor" d="M17.414 16L26 7.414L24.586 6L16 14.586L7.414 6L6 7.414L14.586 16L6 24.586L7.414 26L16 17.414L24.586 26L26 24.586z"></path>
                              </svg>
                           </button>
                           <div class="fixed inset-x-0 bottom-0 z-10 lg:left-112 xl:left-120">
                              <div class="flex items-center gap-6 bg-black/90 px-4 py-4 shadow shadow-zinc-200/80 ring-1 ring-zinc-900/5 backdrop-blur-sm md:px-6">
                                 <audio controls="" class="w-full"> <source src="https://www.coothead.co.uk/audio/You-Cant-Always-Get-What-You-Want.mp3" type="audio/mpeg"> </audio>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </article>
      </>
))}
   </div>
</section>
