---
import Table from "../../../layouts/shortcodes/Table.tsx";
import {
  AllMasters,
  CnMasters,

  CnGuiyangMasters,
  CnLinjiMasters,
  CnCaodongMasters,
  CnFayanMasters,
  CnYunmenMasters,
  CnYangqiMasters,
  CnHuanglongMasters,

  CnLv0Masters,
  CnLv1Masters,
  CnLv2Masters,
  CnLv3Masters,
  CnLv4Masters,
  CnLv5Masters,
  CnLv6Masters,


  CnLv21Masters,
  CnLv22Masters,
  CnLv23Masters,
} from "../../../db/masters/AllMasterDb.tsx";
import ViMasterDb from "../../../db/masters/ViMasterDb.tsx";
import InMasterDb from "../../../db/masters/InMasterDb.tsx";

import '@/styles/table.css';
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import {
  getLangFromUrl,
  getTranslations,
  supportedLang
} from "@/lib/utils/languageParser";
import PageHeader from "@/partials/PageHeader.astro";
import type { ContentEntryMap } from "astro:content";

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}
const { lang } = Astro.params || getLangFromUrl(Astro.url);

const postIndex = await getListPage(
  "masters",
  lang as keyof ContentEntryMap
);
const posts = await getSinglePage("masters", lang as keyof ContentEntryMap);
const {
  in_masters, cn_masters, vi_masters, jp_masters, level_, level__,
} = await getTranslations(lang as keyof ContentEntryMap);
---

<Base>
  <PageHeader title={"Zen Master"} />

  <section class="section">

    <div class="container">
      <h2>{ in_masters }</h2>
      <Table client:load data={InMasterDb} lang={lang ? lang : 'vi'} />
    </div>

    <div class="container">
      <h2>{ cn_masters } - { level_ }</h2>
      <Table client:load data={CnLv0Masters} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ cn_masters } - { level__ } 1</h2>
      <Table client:load data={CnLv1Masters} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ cn_masters } - { level__ } 2</h2>
      <Table client:load data={CnLv2Masters} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ cn_masters } - { level__ } 3</h2>
      <Table client:load data={CnLv3Masters} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ cn_masters } - { level__ } 4</h2>
      <Table client:load data={CnLv4Masters} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ cn_masters } - { level__ } 5</h2>
      <Table client:load data={CnLv5Masters} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ cn_masters } - { level__ } 6</h2>
      <Table client:load data={CnLv6Masters} lang={lang ? lang : 'vi'}/>
    </div>
  </section>
</Base>
