---
import Table from "@/components/Table.tsx";
import InMasterDb from "../../../db/masters/InMasterDb.tsx";
import CnMasterDb from "../../../db/masters/CnMasterDb.tsx";
import CnLv1MasterDb from "../../../db/masters/CnLv1MasterDb.tsx";
import CnLv2MasterDb from "../../../db/masters/CnLv2MasterDb.tsx";
import CnLv3MasterDb from "../../../db/masters/CnLv3MasterDb.tsx";
import CnLv4MasterDb from "../../../db/masters/CnLv4MasterDb.tsx";
import CnLv5MasterDb from "../../../db/masters/CnLv5MasterDb.tsx";
import '@/styles/table.css';
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import {
  getLangFromUrl,
  getTranslations,
  supportedLang
} from "@/lib/utils/languageParser";
import PageHeader from "@/partials/PageHeader.astro";
import type { ContentEntryMap } from "astro:content";

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}
const { lang } = Astro.params || getLangFromUrl(Astro.url);

const postIndex = await getListPage(
  "zen-master",
  lang as keyof ContentEntryMap
);
const posts = await getSinglePage("zen-master", lang as keyof ContentEntryMap);
const {
  indian_masters, chinese_masters, level_0, level_1, level_2, level_3, level_4, level_5,
} = await getTranslations(lang as keyof ContentEntryMap);
---

<Base>
  <PageHeader title={"Zen Master"} />
  <section class="section">
    <div class="container">
      <h2>{ indian_masters }</h2>
      <Table client:load data={InMasterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ chinese_masters } - { level_0 }</h2>
      <Table client:load data={CnMasterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ chinese_masters } - { level_1 }</h2>
      <Table client:load data={CnLv1MasterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ chinese_masters } - { level_2 }</h2>
      <Table client:load data={CnLv2MasterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ chinese_masters } - { level_3 }</h2>
      <Table client:load data={CnLv3MasterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ chinese_masters } - { level_4 }</h2>
      <Table client:load data={CnLv4MasterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>{ chinese_masters } - { level_5 }</h2>
      <Table client:load data={CnLv5MasterDb} lang={lang ? lang : 'vi'}/>
    </div>
  </section>
</Base>
