---
import Table from "@/components/Table.tsx";
import masterDb from "@/db/masterDb.tsx";
import '@/styles/table.css';
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import PageHeader from "@/partials/PageHeader.astro";
import type { ContentEntryMap } from "astro:content";
import BookFlip from "../../../layouts/components/Candles.astro";

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}
const { lang } = Astro.params;
const postIndex = await getListPage(
  "zen-master",
  lang as keyof ContentEntryMap
);
const langCollection: keyof ContentEntryMap = lang as keyof ContentEntryMap;
const posts = await getSinglePage("zen-master", lang as keyof ContentEntryMap);
---

<Base>
  <PageHeader title={"Zen Master"} />
  <section class="section">
    <div class="container">
      <h2>Thiền sư Ấn Độ</h2>
      <Table client:load data={masterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>Thiền sư Trung Hoa từ tổ Bồ Đề Đạt Ma</h2>
      <Table client:load data={masterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>Thiền sư Trung Hoa Đời thứ 1 sau Lục tổ</h2>
      <Table client:load data={masterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>Thiền sư Trung Hoa Đời thứ 2 sau Lục tổ</h2>
      <Table client:load data={masterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>Thiền sư Trung Hoa Đời thứ 3 sau Lục tổ</h2>
      <Table client:load data={masterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>Thiền sư Trung Hoa Đời thứ 4 sau Lục tổ</h2>
      <Table client:load data={masterDb} lang={lang ? lang : 'vi'}/>
    </div>

    <div class="container">
      <h2>Thiền sư Trung Hoa Đời thứ 5 sau Lục tổ</h2>
      <Table client:load data={masterDb} lang={lang ? lang : 'vi'}/>
    </div>
  </section>
</Base>
